In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('data/SQ.csv')
data.head()

                  time    open      high     low   close  volume
0  2021-07-23 20:00:00  263.96  264.0000  263.51  263.92    2648
1  2021-07-23 19:00:00  263.62  263.6500  263.50  263.54     944
2  2021-07-23 18:00:00  264.00  264.1999  263.49  263.64    7922
3  2021-07-23 17:00:00  264.00  264.2000  263.80  264.20  134481
4  2021-07-23 16:00:00  263.95  264.4500  263.49  264.07  914940