In [9]:
from dotenv import load_dotenv
load_dotenv()

os.getcwd()

'/home/danilo/Dropbox/Dev/Alchemist'

In [10]:
#from data_loader import *
from alchemist.src.etl.data_loader import *
import requests
import pandas as pd
from datetime import datetime

In [11]:
start = datetime(2019, 1, 1)
end = datetime(2020, 12, 31)

symbols = ['TSLA', 'AAPL']

In [13]:
# Loading intraday market data
intraday_market_data = load_market_data(
    symbols, 
    intraday=True, 
    months=2, 
    interval='60min', 
    invalidate_cache=True,
    cache_folder=f"{os.getcwd()}/alchemist/data",    
    )

intraday_market_data

Getting data fromt the web
Pulling intraday time series data for time_slice: year1month1
Pulling intraday time series data for time_slice: year1month2
Current historic data shape: (672, 6)
Pulling intraday time series data for time_slice: year1month1
Pulling intraday time series data for time_slice: year1month2
Current historic data shape: (338, 7)
Data retrieved from web in 1.6596672534942627 seconds

{'TSLA': 0                        Open      High       Low   Close   Volume
 Date
 2021-06-09 05:00:00    603.72    605.95     602.8  604.15    11478
 2021-06-09 06:00:00    602.73     603.0    602.73   603.0      878
 2021-06-09 07:00:00    603.06     603.5    603.04   603.5      652
 2021-06-09 08:00:00    604.85     606.2     603.8  604.49    38310
 2021-06-09 09:00:00  605.1658  606.4198     602.2  604.15    84878
 ...                       ...       ...       ...     ...      ...
 2021-08-06 16:00:00     700.4     700.7  698.0294  698.89  2334993
 2021-08-06 17:00:00     699.1     699.1    698.01   698.5   578804
 2021-08-06 18:00:00     698.5     698.5     697.7  697.76    38563
 2021-08-06 19:00:00    697.98     698.0    697.75  697.85     9846
 2021-08-06 20:00:00    697.81    697.97    696.85   697.0    29387

 [672 rows x 5 columns],
 'AAPL': 0                             Open           High            Low  \
 Date
 NaN                            NaN            NaN            NaN
 NaN                            NaN            NaN            NaN
 2021-07-09 05:00:00  143.024689806  143.673712763  143.024689806
 2021-07-09 06:00:00  143.294283957  143.384148675     142.645261
 2021-07-09 07:00:00   142.78505056   142.78505056  142.335726975
 ...                            ...            ...            ...
 2021-08-06 16:00:00         145.71         146.16         145.66
 2021-08-06 17:00:00         146.08         146.14         145.97
 2021-08-06 18:00:00          146.0         146.14         145.92
 2021-08-06 19:00:00         145.97         145.97          145.9
 2021-08-06 20:00:00         145.94         145.99         145.92

 0                            Close   Volume  \
 Date
 NaN                            NaN      NaN
 NaN                            NaN      NaN
 2021-07-09 05:00:00  143.284298989    50027
 2021-07-09 06:00:00   142.78505056    50059
 2021-07-09 07:00:00  142.685200875    36764
 ...                            ...      ...
 2021-08-06 16:00:00         146.14  8496186
 2021-08-06 17:00:00          146.0  2615264
 2021-08-06 18:00:00         145.94  1368182
 2021-08-06 19:00:00         145.95    18191
 2021-08-06 20:00:00         145.96    22769

 0                                                                    {
 Date
 NaN                                                                  }
 NaN                      "Note": "Thank you for using Alpha Vantage...
 2021-07-09 05:00:00                                                NaN
 2021-07-09 06:00:00                                                NaN
 2021-07-09 07:00:00                                                NaN
 ...                                                                ...
 2021-08-06 16:00:00                                                NaN
 2021-08-06 17:00:00                                                NaN
 2021-08-06 18:00:00                                                NaN
 2021-08-06 19:00:00                                                NaN
 2021-08-06 20:00:00                                                NaN

 [338 rows x 6 columns]}

In [14]:


# Loading daily market data
daily_market_data = load_market_data(
    symbols, 
    start,
     end, 
    invalidate_cache=True,
    cache_folder=f"{os.getcwd()}/alchemist/data",    
)

daily_market_data

Getting data fromt the web
Data retrieved from web in 1.984511375427246 seconds

{'TSLA':                   High         Low        Open       Close      Volume  \
 Date
 2019-01-02   63.026001   59.759998   61.220001   62.023998  58293000.0
 2019-01-03   61.880001   59.476002   61.400002   60.071999  34826000.0
 2019-01-04   63.599998   60.546001   61.200001   63.537998  36970500.0
 2019-01-07   67.348000   63.549999   64.344002   66.991997  37756000.0
 2019-01-08   68.802002   65.403999   68.391998   67.070000  35042500.0
 ...                ...         ...         ...         ...         ...
 2020-12-24  666.090027  641.000000  642.989990  661.770020  22865600.0
 2020-12-28  681.400024  660.799988  674.510010  663.690002  32278600.0
 2020-12-29  669.900024  655.000000  661.000000  665.989990  22910800.0
 2020-12-30  696.599976  668.359985  672.000000  694.780029  42846000.0
 2020-12-31  718.719971  691.119995  699.989990  705.669983  49649900.0

              Adj Close
 Date
 2019-01-02   62.023998
 2019-01-03   60.071999
 2019-01-04   63.537998
 2019-01-07   66.991997
 2019-01-08   67.070000
 ...                ...
 2020-12-24  661.770020
 2020-12-28  663.690002
 2020-12-29  665.989990
 2020-12-30  694.780029
 2020-12-31  705.669983

 [505 rows x 6 columns],
 'AAPL':                   High         Low        Open       Close       Volume  \
 Date
 2019-01-02   39.712502   38.557499   38.722500   39.480000  148158800.0
 2019-01-03   36.430000   35.500000   35.994999   35.547501  365248800.0
 2019-01-04   37.137501   35.950001   36.132500   37.064999  234428400.0
 2019-01-07   37.207500   36.474998   37.174999   36.982498  219111200.0
 2019-01-08   37.955002   37.130001   37.389999   37.687500  164101200.0
 ...                ...         ...         ...         ...          ...
 2020-12-24  133.460007  131.100006  131.320007  131.970001   54930100.0
 2020-12-28  137.339996  133.509995  133.990005  136.690002  124486200.0
 2020-12-29  138.789993  134.339996  138.050003  134.869995  121047300.0
 2020-12-30  135.990005  133.399994  135.580002  133.720001   96452100.0
 2020-12-31  134.740005  131.720001  134.080002  132.690002   99116600.0

              Adj Close
 Date
 2019-01-02   38.382229
 2019-01-03   34.559078
 2019-01-04   36.034370
 2019-01-07   35.954170
 2019-01-08   36.639565
 ...                ...
 2020-12-24  131.352829
 2020-12-28  136.050766
 2020-12-29  134.239273
 2020-12-30  133.094650
 2020-12-31  132.069473

 [505 rows x 6 columns]}

In [32]:
# Define Time Slices
# year = ['1', '2']
# month = [m for m in range(1, 13, 1)]
# slices = [ f'year{y}month{m}' for y in year for m in month ]

# # Break Up into groups of 5 due to Rate Limit
# slices_split = [ slices[i:i+5] for i in range(0, len(slices), 5) ]

In [33]:
# slices_split

[['year1month1', 'year1month2', 'year1month3', 'year1month4', 'year1month5'],
 ['year1month6', 'year1month7', 'year1month8', 'year1month9', 'year1month10'],
 ['year1month11', 'year1month12', 'year2month1', 'year2month2', 'year2month3'],
 ['year2month4', 'year2month5', 'year2month6', 'year2month7', 'year2month8'],
 ['year2month9', 'year2month10', 'year2month11', 'year2month12']]

In [30]:
# with requests.Session() as s:
    
#     historic_data = pd.DataFrame()
        
#     for time_slices in slices_split:

#         df_slices = get_time_series_intraday_extended_multi_slice(session=s, 
#                                                                 sym='AAPL', 
#                                                                 interval='60min', 
#                                                                 time_slices=time_slices)
#         historic_data = pd.concat([historic_data, df_slices])
        
#         print(f'Current historic data shape: {historic_data.shape}')
#         print('Made ~5 Calls <1 Min. Wait a Minute...')
#         time.sleep(60)

#         # We are pleased to provide free stock API service for our global community of users 
#         # for up to 5 API requests per minute and 500 requests per day. If you would like to 
#         # target a larger API call volume, please visit premium membership.

# historic_data = historic_data.reset_index(drop=True)

Pulling intraday time series data for time_slice: year1month1
Current historic data shape: (352, 6)
Made ~5 Calls <1 Min. Wait a Minute...

In [31]:
# historic_data.to_csv('../../data/AAPL.csv', index=False)

In [23]:
# historic_data = pd.read_csv('../../data/AAPL.csv')
# historic_data

                     time     open     high       low    close   volume
0     2021-08-06 20:00:00  697.810  697.970  696.8500  697.000    29387
1     2021-08-06 19:00:00  697.980  698.000  697.7500  697.850     9846
2     2021-08-06 18:00:00  698.500  698.500  697.7000  697.760    38563
3     2021-08-06 17:00:00  699.100  699.100  698.0100  698.500   578804
4     2021-08-06 16:00:00  700.400  700.700  698.0294  698.890  2334993
...                   ...      ...      ...       ...      ...      ...
7889  2019-08-19 09:00:00   44.520   44.800   44.4500   44.602   108095
7890  2019-08-19 08:00:00   44.490   44.704   44.4760   44.612    32600
7891  2019-08-19 07:00:00   44.522   44.640   44.5000   44.640    20160
7892  2019-08-19 06:00:00   44.600   44.600   44.5680   44.580    12530
7893  2019-08-19 05:00:00   44.200   44.796   44.2000   44.600    35010

[7894 rows x 6 columns]